@use "../util" as *;

.header {
    background-image: url("../../../images/bg-pattern.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: rem(20);
    height: 350px;
    text-align: center;

    &__descript {
        background-image: url("../../../images/pattern-circles.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        padding: rem(20);

        h1 {
            padding-bottom: rem(10);
            font-size: rem(20);
            font-weight: 800;
            color: var(--darkDesaturatedBlue-TextandCTA-Background);

            @include breakpoint(large) {
                font-size: rem(30);
            }
        }

        p {
            font-size: rem(15);
            color: var(--grayishBlue-Text);
            max-width: 21ch;
            line-height: 1.6;
            margin-inline: auto;

            @include breakpoint(large) {
                max-width: none;
            }
        }
    }
}

.main {
    width: 90%;
    margin: auto;
    margin-block-start: rem(-140);
    background-color: var(--white-PricingComponentBackground);
    border-radius: rem(10);
    text-align: center; 
    box-shadow: 0px 12px 23px -2px rgba(0,0,0,0.4);

    @include breakpoint(large) {
        width: 50%;
        margin-block-start: rem(-170);
        display: grid;
        grid-template-areas: 
        "view view money money"
        "slider slider slider slider"
        "toggle toggle toggle toggle"
        "offering offering offering offering";
    }

    &__pageviews {
        padding: rem(40) rem(20) rem(20) rem(20);
        color: var(--grayishBlue-Text);
        text-transform: uppercase;
        font-size: rem(15);
        word-spacing: rem(5);
        font-weight: 800;

        @include breakpoint(large) {
            grid-area: view;
            justify-self: start;
            align-self: center;
            padding: rem(40);
        } 
    }
    
    &__slider {
        position: relative;

        @include breakpoint(large) {
            grid-area: slider;
            width: 90%;
            align-self: center;
            justify-self: center;
        }

        input[type=range] {
            -webkit-appearance: none;
            width: 95%;
            height: rem(15);
            margin: 18px 0;
            outline: none;
            border-radius: rem(20);
            
            
            
            &::-webkit-slider-runnable-track{
                width: 100%;
                height: rem(10);
                border-radius: rem(20);
                background-color: var(--lightGrayishBlue-EmptySliderBar);
                cursor: pointer;
            }

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                width: rem(36);
                height: rem(36);
                border-radius: 50%;
                background-image: url("../../../images/icon-slider.svg");
                background-color: var( --strongCyan-SliderBackround);
                background-repeat: no-repeat;
                background-position: center;
                cursor: pointer;
                margin-top: rem(-13);

                
                &:hover {
                    box-shadow: 0px 5px 13px 3px var(--strongCyan-SliderBackround-active);
                    transition: 0.3s ease;
                    cursor: pointer;
                }
        
                &:active {
                    background-color: var( --strongCyan-SliderBackround-active);
                    box-shadow: 0px 0px 15px 5px var(--strongCyan-SliderBackround);
                }
            }
        
    } 
}

    &__month {
        padding: rem(20);
        display: flex;
        align-items: center;
        justify-content: center;

        @include breakpoint(large) {
            grid-area: money;
            align-self: center;
            justify-self: end;
            padding: rem(40);
        }

        h2 {
            font-size: rem(30);
            font-weight: 800;
            padding-right: rem(5);
            color: var(--darkDesaturatedBlue-TextandCTA-Background);
        }

        p {
            color: var(--grayishBlue-Text);
            font-size: rem(15);
        }
    }

    &__toggle {

        @include breakpoint(large) {
            grid-area: toggle;
            align-self: center;
            justify-self: center;
            padding: rem(20);
            margin-left: rem(100);
        }
    }

    &__offering {
        border-top: 1px solid var(--grayishBlue-Text);
        padding: rem(20);
        color: var(--grayishBlue-Text);

        @include breakpoint(large) {
            grid-area: offering;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: rem(30);
        }
        
        ul {
            list-style-image: url("../../../images/icon-check.svg");
            list-style-position: inside;

            @include breakpoint(large) {
                text-align: start;
            }

            li {
                padding: rem(5) 0 rem(5) 0;
            }
        }

        .button {
            width: 60%;
            padding: rem(15);
            margin-top: rem(10);
            color: var(--paleBlue-CTA-Text);
            border: none;
            background-color: var(--darkDesaturatedBlue-TextandCTA-Background);
            border-radius: rem(20);
            font-size: rem(15);
            font-weight: 600;
            cursor: pointer;

            @include breakpoint(large) {
                width: 30%;
            }

            &:hover, &:active {
                color: var( --white-PricingComponentBackground);
            }
        }

    }
}